<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AngularJS</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
</head>

<body ng-app="myApp" ng-controller="myController">

    <br/>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">AngularJS</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#/">天气
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/luyou">路由</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" name="myForm" novalidate>
                        <div id="input_control" class="form-group">
                            <input type="text" class="form-control" id="cityNm" name="cityNm" placeholder="请输入需要查询的城市" style="width: 300px" ng-model="cityNm"
                                ng-change="textChange()" required/>
                        </div>
                        <button class="btn btn-warning" ng-click="getData()" ng-disabled="myForm.cityNm.$dirty && myForm.cityNm.$invalid">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查询
                        </button>
                        <span style="color:red" ng-show="myForm.cityNm.$dirty && myForm.cityNm.$invalid">
                            <span ng-show="myForm.cityNm.$error.required">城市名是必须的。</span>
                        </span>
                        <span style="color: red">{{error}}</span>
                    </form>
                </div>
            </div>
        </nav>

        <div ng-view>

        </div>
        <hr/>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>
    <script>
        var weeks = new Array('星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六');
        var now1 = new Date();
        now1.setDate(now1.getDate() + 1);
        var now2 = new Date();
        now2.setDate(now2.getDate() + 2);
        var now3 = new Date();
        now3.setDate(now3.getDate() + 3);
        var now4 = new Date();
        now4.setDate(now4.getDate() + 4);

        // 创建模块
        var app = angular.module('myApp', ['ngRoute']);

        // 创建 value 对象 "url" 并传递数据
        app.value("url", "http://wthrcdn.etouch.cn/weather_mini?city=");

        // factory创建字符串连接方法
        app.factory('StrService', function () {
            var factory = {};

            factory.connection = function (a, b) {
                return a + b
            }
            return factory;
        });

        // provider创建字符串连接方法
        app.config(function ($provide) {
            $provide.provider('AqiService', function () {
                this.$get = function () {
                    var factory = {};

                    factory.aqi = function (a) {
                        // aqi无数据的情况
                        if (a == null) {
                            return '没有相关信息';
                        }
                        // 判断优良差
                        if (a < 30) {
                            return a + ' ' + "优";
                        } else if (a > 30 && a < 100) {
                            return a + ' ' + "良";
                        } else {
                            return a + ' ' + "差";
                        }
                    }
                    return factory;
                };
            });
        });

        // 自定义service
        app.service('myService', function (StrService, AqiService) {
            // 温度处理
            this.wenduFunc = function (wendu) {
                return StrService.connection(wendu, "℃");
            }
            // aqi处理
            this.aqiFunc = function (aqi) {
                return AqiService.aqi(aqi);
            }
        });

        app.controller('myController', function ($scope, $route, $timeout, $interval, $http, myService, url) {
            // 
            $scope.$route = $route;

            //项目初始化模拟网络耗时操作
            $timeout(function () {
                // 初始化城市
                $scope.cityNm = '北京';
                // 获取天气数据
                $scope.getData();
            }, 1000);


            //时间间隔 半个小时刷新一次
            $interval(function () {
                $scope.getData();
            }, 1800000);

            // 文本框文本改变事件
            $scope.textChange = function () {
                var error = $scope.error;
                if (error != '') {
                    $scope.error = '';
                    $("#input_control").removeClass("has-error");
                }
            }

            // 获取天气内容
            $scope.getData = function () {
                // 判断当前输入城市是否为空
                var cityNm = $scope.cityNm;
                if (cityNm == '') {
                    $scope.error = '请输入城市名称！';
                    $("#input_control").addClass("has-error");
                    return;
                }

                // 访问服务器
                var promise = $http({
                    method: 'GET',
                    url: url + $scope.cityNm,
                });

                // 获取当前response的内容
                promise.then(function success(response) {
                    if (response != null && response.data.status == '1000') {
                        $scope.city = response.data.data.city;
                        $scope.wendu = myService.wenduFunc(response.data.data.wendu);
                        $scope.ganmao = response.data.data.ganmao;
                        $scope.aqi = myService.aqiFunc(response.data.data.aqi);
                        $scope.yesterday = response.data.data.yesterday;
                        $scope.forecasts = response.data.data.forecast;
                    } else {
                        $scope.error = '没有查询到相应的天气！';
                        $("#input_control").addClass("has-error");
                    }
                }, function error(err) {
                    $scope.error = '错误码:' + err.status + '\r\n内容:' + err.statusText;
                });
            }
        });

        app.controller('myController1', function ($scope, $route) {
            $scope.$route = $route;
            $scope.test = '這是一個測試路由的頁面';
        });

        // 前端路由
        app.config(['$routeProvider', function ($routeProvider) {
            $routeProvider
                .when('/', { templateUrl: 'weather.html' })
                .when('/luyou', { templateUrl: 'luyou.html', controller: 'myController1' })
                .otherwise({ redirectTo: '/' });
        }]);
    </script>
</body>

</html>